<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.schmonz.svscan</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/opt/pkg/bin:/opt/pkg/sbin:/Users/schmonz/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/pkg/bin/argv0</string>
		<string>/opt/pkg/bin/svscan</string>
		<string>svscan-schmonz</string>
		<string>/Users/schmonz/Services</string>
	</array>
	<key>OnDemand</key>
	<false/>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/schmonz/Library/Logs/svscan-schmonz.out</string>
	<key>StandardErrorPath</key>
	<string>/Users/schmonz/Library/Logs/svscan-schmonz.err</string>
</dict>
</plist>
